.mover{
    width: 100%;
    height: 100px;
    position: relative;
    animation: mymove 0s;
    animation-fill-mode: forwards;

    
  }
  .mover  #logo{
    width: 100%;
    height: 90px;

}
.mover #sel{
    position: relative;
    margin-top: 50px;
    margin-left: 10vh;
    font-size: 20px;
    padding: 5px;
}
  @keyframes mymove {
    from {
        top: 0px;
        
    }
    to {
        top: -70px;
       
        
        
    }
  }